<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block nombre_pagina %}
        {% endblock %}
    </title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Coding Time</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Cursos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/">Cursos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/create_course/">Agregar Curso</a>
                        
                    </div>
                </li>
               
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Estudiantes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/inscripcion/">Inscripción</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/estudiantes/">Ver estudiantes</a>
                        
                        
                    </div>
                </li>
                
                <li class="nav-item dropdown" style="margin-right: 40rem">
                    <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-expanded="false">
                        Usuarios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.user.is_authenticated %}
                        <a class="dropdown-item" href="/logout/">Cerrar Sesión <h3>{{request.user.username}}</h3><img src="{{request.user.profile.profile_image.url}}"></a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/profiles/">Perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/contact/">Contacto</a>
                       

                        {% else %}
                        <a class="dropdown-item" href="/login/">Iniciar Sesión</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/register/">Registrarse</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/contact/">Contacto</a>
                       
                        
                        
                        {% endif %}
                    </div>
                </li>
               
            </ul>
            <form class="form-inline my-2 my-lg-0" action="/courses/search-course/" method="GET">
                <input class="form-control mr-sm-2" type="text" placeholder="¿Buscas un curso?" name='search' aria-label="Search">
                <button class="btn btn-outline-Primary my-2 my-sm-2" type="submit">¡Encontrar!</button>
            </form>
        </div>
    </nav>
    
    {% block titulo %}
    {% endblock %}


</body>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"></script>

</html>