{% extends 'base.html' %}

{% block nombre_pagina %}
Encuentra los mejores cursos
{% endblock %}




{% block titulo %}

<h1>    Estos son los cursos actualmente disponibles: </h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem"></div>
{% for curso in object_list %}


    
    <div class="container" style="margin-top:5rem; margin-left:7rem">
        
            <div class="row row-cols-auto" style="width: 18rem;">
                {% if curso.image %}
                <img src="{{curso.image.url}}" class="card-img-top" >
                {% endif %}
                <div class="card-body">
                <h5 class="card-title">{{curso.name}}</h5>
                <p class="card-text">{{curso.description}}</p>
                <p class="card-text">${{curso.price}}</p>
                <a href="/courses/course_detail/{{curso.id}}/" class="btn btn-primary">¡Ver curso!</a>
            </div>
        
    </div>



{% endfor%}

</div>
{% endblock %}
    
