{% extends 'base.html' %}

{% block nombre_pagina %}
Buscar
{% endblock %}

{% block titulo %}

<h1>   Buscar Curso </h1>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem"></div>
{% for course in courses %}

    <div class="card" style="width: 18rem;">
        
        <div class="card-body">
            <h5 class="card-title">{{course.name}}</h5>
            <p class="card-text">{{course.description}}</p>
            <p class="card-text">{{course.price}}</p>
            <a href="#/course_detail/{{course.id}}/" class="btn btn-primary">¡Ver curso!</a>
        </div>
    </div>

    

{% endfor %}



    
{% endblock %}
    

    





    



